In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/inc-5000-companies/INC 5000 Companies 2019.csv

In [2]:
#importing Dataset from kaggle in CSV format
data=pd.read_csv("/kaggle/input/inc-5000-companies/INC 5000 Companies 2019.csv")

In [3]:
companies=data.copy()
companies.head()

,rank,profile,name,url,state,revenue,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city
0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9 Million,36680.3882,Advertising & Marketing,40.0,5,2015,1,Phoenix,Phoenix
1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6 Million,30547.9317,Logistics & Transportation,39.0,8,2015,1,Nashville,Brentwood
2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9 Million,23880.4852,Food & Beverage,190.0,10,2015,1,Austin,Austin
3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4 Million,21849.8925,Consumer Products & Services,57.0,2,2014,1,NaN,Albuquerque
4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5 Million,18166.4070,Retail,25.0,6,2014,1,Philadelphia,Philadelphia

In [4]:
#checking our data
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5012 entries, 0 to 5011
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rank              5012 non-null   int64
 1   profile           5012 non-null   object
 2   name              5012 non-null   object
 3   url               5012 non-null   object
 4   state             5012 non-null   object
 5   revenue           5012 non-null   object
 6   growth_%          5012 non-null   float64
 7   industry          5012 non-null   object
 8   workers           5011 non-null   float64
 9   previous_workers  5012 non-null   int64
 10  founded           5012 non-null   int64
 11  yrs_on_list       5012 non-null   int64
 12  metro             4199 non-null   object
 13  city              5012 non-null   object
dtypes: float64(2), int64(4), object(8)
memory usage: 548.3+ KB

In [5]:
#checking the column names in the data
companies.columns

Index(['rank', 'profile', 'name', 'url', 'state', 'revenue', 'growth_%',
       'industry', 'workers', 'previous_workers', 'founded', 'yrs_on_list',
       'metro', 'city'],
      dtype='object')

In [6]:
#creating a dataset containing null values.
companies[companies["metro"].isnull()]

,rank,profile,name,url,state,revenue,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city
3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4 Million,21849.8925,Consumer Products & Services,57.0,2,2014,1,NaN,Albuquerque
20,21,https://www.inc.com/profile/tailor-made-compou...,Tailor Made Compounding,http://tailormadecompounding.com,KY,10.2 Million,8327.0956,Health,45.0,1,2015,1,NaN,Nicholasville
21,22,https://www.inc.com/profile/sd3it,SD3IT,http://sd3it.com,FL,11.9 Million,8282.8668,Computer Hardware,12.0,2,2014,1,NaN,The Villages
25,26,https://www.inc.com/profile/pegasus-optimizati...,Pegasus Optimization Managers,pegasus15.com,TX,128.2 Million,7426.8072,Energy,191.0,14,2015,1,NaN,College Station
28,29,https://www.inc.com/profile/lumenad,LumenAd,lumenad.com,MT,11.8 Million,7045.3631,Software,60.0,3,2014,1,NaN,Missoula
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4991,4980,https://www.inc.com/profile/msnw-group,MSNW Group,msnw.org,WA,16.5 Million,52.7413,Business Products & Services,467.0,357,1995,9,NaN,Ferndale
4995,4984,https://www.inc.com/profile/dymax,Dymax,dymax.com,CT,104 Million,52.6344,Manufacturing,377.0,274,1980,9,NaN,Torrington
5001,4990,https://www.inc.com/profile/smart-energy-today,Smart Energy Today,smartenergytoday.net,WA,20.5 Million,52.5381,Energy,65.0,92,2012,6,NaN,Tumwater
5009,4998,https://www.inc.com/profile/naval-systems,Naval Systems,n-s-i.us,MD,29.7 Million,52.2037,Government Services,187.0,127,2004,1,NaN,LEXINGTON PARK
5011,5000,https://www.inc.com/profile/vivayic,Vivayic,vivayic.com,NE,4.5 Million,52.1691,Business Products & Services,27.0,22,2006,4,NaN,Lincoln

 We have two types of values in revenue column
1.  revenue in Million
2.  revenue in Billion

To determine the average we must have values in either of one unit.

In [7]:
# We are splitting the revenue field in two different fields 
companies[["revenue","Unit"]] = companies["revenue"].str.split(" ", expand= True)

In [8]:
companies.head()

,rank,profile,name,url,state,revenue,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city,Unit
0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9,36680.3882,Advertising & Marketing,40.0,5,2015,1,Phoenix,Phoenix,Million
1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6,30547.9317,Logistics & Transportation,39.0,8,2015,1,Nashville,Brentwood,Million
2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9,23880.4852,Food & Beverage,190.0,10,2015,1,Austin,Austin,Million
3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4,21849.8925,Consumer Products & Services,57.0,2,2014,1,NaN,Albuquerque,Million
4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5,18166.4070,Retail,25.0,6,2014,1,Philadelphia,Philadelphia,Million

In [9]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5012 entries, 0 to 5011
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rank              5012 non-null   int64
 1   profile           5012 non-null   object
 2   name              5012 non-null   object
 3   url               5012 non-null   object
 4   state             5012 non-null   object
 5   revenue           5012 non-null   object
 6   growth_%          5012 non-null   float64
 7   industry          5012 non-null   object
 8   workers           5011 non-null   float64
 9   previous_workers  5012 non-null   int64
 10  founded           5012 non-null   int64
 11  yrs_on_list       5012 non-null   int64
 12  metro             4199 non-null   object
 13  city              5012 non-null   object
 14  Unit              5012 non-null   object
dtypes: float64(2), int64(4), object(9)
memory usage: 587.5+ KB

Datatype of revenue field is object, to convert values representing billions in millions we need to perform some numerical operation this can only be done on numeric data

In [10]:
# Converting data type of field
companies["revenue"] = pd.to_numeric(companies["revenue"])

In [11]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5012 entries, 0 to 5011
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rank              5012 non-null   int64
 1   profile           5012 non-null   object
 2   name              5012 non-null   object
 3   url               5012 non-null   object
 4   state             5012 non-null   object
 5   revenue           5012 non-null   float64
 6   growth_%          5012 non-null   float64
 7   industry          5012 non-null   object
 8   workers           5011 non-null   float64
 9   previous_workers  5012 non-null   int64
 10  founded           5012 non-null   int64
 11  yrs_on_list       5012 non-null   int64
 12  metro             4199 non-null   object
 13  city              5012 non-null   object
 14  Unit              5012 non-null   object
dtypes: float64(3), int64(4), object(8)
memory usage: 587.5+ KB

In [12]:
#creating copy of the data and storing it in new variable.
avg_revenue = companies.copy()

To convert the values in billions into millions we must first determine at what index we are having entries of values in Billions.

In [13]:
# creating a list of the index at which the revenue represents Billion value
lst = avg_revenue[avg_revenue["Unit"] == "Billion"].index
lst

Int64Index([ 605,  914, 1076, 1621, 2602, 2664, 2730, 2793, 3278, 3605, 3690,
            3781, 3856, 3924, 4010, 4348, 4377, 4620, 4804, 4812, 4938, 4979,
            4985],
           dtype='int64')

In [14]:
# using for loop, multiplying revenue value at respective index with 1000
for i in lst:
    avg_revenue["revenue"].iloc[i]  = avg_revenue["revenue"].iloc[i] * 1000

/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [15]:
#checking whether, the operation performed is correct and as per the requirement.
avg_revenue[avg_revenue["Unit"] == "Billion"]

,rank,profile,name,url,state,revenue,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city,Unit
605,605,https://www.inc.com/profile/chewy,Chewy,chewy.com,FL,3500.0,735.5436,Retail,9833.0,9833,2011,1,Miami,Dania Beach,Billion
914,913,https://www.inc.com/profile/uber-technologies,Uber Technologies,http://uber.com/ca/en,CA,11300.0,464.9123,Consumer Products & Services,22263.0,22263,2009,1,San Francisco,San Francisco,Billion
1076,1073,https://www.inc.com/profile/prime-therapeutics,Prime Therapeutics,http://primetherapeutics.com,MN,21400.0,390.5654,Health,3300.0,3900,1998,8,Minneapolis,Eagan,Billion
1621,1617,https://www.inc.com/profile/allied-universal,Allied Universal,http://aus.com,CA,5800.0,255.1902,Security,155000.0,36469,1957,10,Los Angeles,Santa Ana,Billion
2602,2594,https://www.inc.com/profile/epiq,Epiq,epiqglobal.com,GA,1000.0,150.7917,Business Products & Services,5800.0,4908,1998,12,Atlanta,Atlanta,Billion
2664,2656,https://www.inc.com/profile/fortis-construction,Fortis Construction,fortisconstruction.com,OR,1200.0,146.4234,Construction,330.0,180,2003,11,NaN,Portland,Billion
2730,2722,https://www.inc.com/profile/kodiak-building-pa...,Kodiak Building Partners,kodiakbp.com,CO,1100.0,141.2369,Construction,2397.0,958,2011,2,Denver,Highlands Ranch,Billion
2793,2785,https://www.inc.com/profile/strike,Strike,http://strikeusa.com,TX,1700.0,135.6522,Energy,6941.0,3715,2003,10,Houston,Spring,Billion
3278,3270,https://www.inc.com/profile/victra,Victra,http://victra.com,NC,1500.0,110.7096,Retail,5000.0,4500,1996,9,"Raleigh, NC",Raleigh,Billion
3605,3596,https://www.inc.com/profile/transportation-ins...,Transportation Insight,http://transportationinsight.com,NC,2300.0,97.2672,Logistics & Transportation,486.0,378,1999,12,NaN,Hickory,Billion
3690,3681,https://www.inc.com/profile/odyssey-logistics-...,Odyssey Logistics & Technology,odysseylogistics.com,CT,1000.0,94.2582,Logistics & Transportation,2400.0,1,2003,1,"Bridgeport-Stamford-Norwalk, CT",Danbury,Billion
3781,3772,https://www.inc.com/profile/coadvantage,CoAdvantage,coadvantage.com,FL,4600.0,89.1728,Human Resources,410.0,332,1997,4,Tampa,Tampa,Billion
3856,3847,https://www.inc.com/profile/carahsoft-technology,Carahsoft Technology,http://carahsoft.com,VA,5400.0,86.5174,Government Services,1000.0,538,2004,12,"Washington, DC",Reston,Billion
3924,3915,https://www.inc.com/profile/srs-distribution,SRS Distribution,http://srsdistribution.com,TX,2600.0,84.3671,Consumer Products & Services,3750.0,2150,2008,6,Dallas,McKinney,Billion
4010,4001,https://www.inc.com/profile/nfi-industries,NFI Industries,nfiindustries.com,NJ,2000.0,81.1407,Logistics & Transportation,10600.0,8100,1932,1,Philadelphia,Cher,Billion
4348,4337,https://www.inc.com/profile/ga-partners,G&A Partners,http://gnapartners.com,TX,2200.0,69.9973,Human Resources,291.0,160,1995,14,Houston,Houston,Billion
4377,4366,https://www.inc.com/profile/consumer-cellular,Consumer Cellular,consumercellular.com,OR,1000.0,68.9889,Telecommunications,1866.0,1276,1995,11,NaN,Portland,Billion
4620,4609,https://www.inc.com/profile/total-quality-logi...,Total Quality Logistics,tql.com,OH,3600.0,62.6468,Logistics & Transportation,5493.0,3791,1997,14,Cincinnati,Cincinnati,Billion
4804,4793,https://www.inc.com/profile/big-d-construction...,Big-D Construction Corp.,big-d.com,UT,1500.0,58.2213,Construction,1423.0,1082,1967,1,Salt Lake City,Salt Lake City,Billion
4812,4801,https://www.inc.com/profile/readerlink,Readerlink,readerlink.net,IL,1100.0,58.0260,Consumer Products & Services,1200.0,700,2011,2,Chicago,Oak Brook,Billion
4938,4927,https://www.inc.com/profile/84-lumber-company,84 Lumber Company,84lumber.com,PA,3900.0,54.3971,Construction,5537.0,4650,1956,1,"Pittsburgh, PA",Eighty Four,Billion
4979,4968,https://www.inc.com/profile/atlas-oil-company,Atlas Oil Company,atlasoil.com,MI,1100.0,53.0161,Energy,538.0,611,1985,6,Detroit,Taylor,Billion
4985,4974,https://www.inc.com/profile/pacific-dental-ser...,Pacific Dental Services,pacificdentalservices.com,CA,1400.0,52.9105,Health,10392.0,7036,1994,14,Los Angeles,Irvine,Billion

In [16]:
# as all the values now in the revenue column is in millions, renaming this field as revenue in Millions
avg_revenue = avg_revenue.rename(columns={"revenue" : "revenue in Millions"})
avg_revenue

,rank,profile,name,url,state,revenue in Millions,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city,Unit
0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9,36680.3882,Advertising & Marketing,40.0,5,2015,1,Phoenix,Phoenix,Million
1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6,30547.9317,Logistics & Transportation,39.0,8,2015,1,Nashville,Brentwood,Million
2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9,23880.4852,Food & Beverage,190.0,10,2015,1,Austin,Austin,Million
3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4,21849.8925,Consumer Products & Services,57.0,2,2014,1,NaN,Albuquerque,Million
4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5,18166.4070,Retail,25.0,6,2014,1,Philadelphia,Philadelphia,Million
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5007,4996,https://www.inc.com/profile/village-plumbing-air,Village Plumbing & Air,villageplumbing.com,TX,15.8,52.2377,Consumer Products & Services,88.0,62,1946,3,Houston,Houston,Million
5008,4997,https://www.inc.com/profile/real-restoration-g...,Real Restoration Group,realrestoration.com,IL,11.6,52.2127,Construction,380.0,220,2011,1,Chicago,Chicago,Million
5009,4998,https://www.inc.com/profile/naval-systems,Naval Systems,n-s-i.us,MD,29.7,52.2037,Government Services,187.0,127,2004,1,NaN,LEXINGTON PARK,Million
5010,4999,https://www.inc.com/profile/hnm-systems,HNM Systems,hnmsystems.com,CA,8.8,52.1919,Telecommunications,132.0,47,2011,1,San Diego,Solana Beach,Million
5011,5000,https://www.inc.com/profile/vivayic,Vivayic,vivayic.com,NE,4.5,52.1691,Business Products & Services,27.0,22,2006,4,NaN,Lincoln,Million

In [17]:
# dropping out the field "Unit" as we don't need it anymore.
avg_revenue = avg_revenue.drop("Unit" , axis = 1)

In [18]:
avg_revenue

,rank,profile,name,url,state,revenue in Millions,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city
0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9,36680.3882,Advertising & Marketing,40.0,5,2015,1,Phoenix,Phoenix
1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6,30547.9317,Logistics & Transportation,39.0,8,2015,1,Nashville,Brentwood
2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9,23880.4852,Food & Beverage,190.0,10,2015,1,Austin,Austin
3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4,21849.8925,Consumer Products & Services,57.0,2,2014,1,NaN,Albuquerque
4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5,18166.4070,Retail,25.0,6,2014,1,Philadelphia,Philadelphia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5007,4996,https://www.inc.com/profile/village-plumbing-air,Village Plumbing & Air,villageplumbing.com,TX,15.8,52.2377,Consumer Products & Services,88.0,62,1946,3,Houston,Houston
5008,4997,https://www.inc.com/profile/real-restoration-g...,Real Restoration Group,realrestoration.com,IL,11.6,52.2127,Construction,380.0,220,2011,1,Chicago,Chicago
5009,4998,https://www.inc.com/profile/naval-systems,Naval Systems,n-s-i.us,MD,29.7,52.2037,Government Services,187.0,127,2004,1,NaN,LEXINGTON PARK
5010,4999,https://www.inc.com/profile/hnm-systems,HNM Systems,hnmsystems.com,CA,8.8,52.1919,Telecommunications,132.0,47,2011,1,San Diego,Solana Beach
5011,5000,https://www.inc.com/profile/vivayic,Vivayic,vivayic.com,NE,4.5,52.1691,Business Products & Services,27.0,22,2006,4,NaN,Lincoln

In [19]:
avg_revenue.columns

Index(['rank', 'profile', 'name', 'url', 'state', 'revenue in Millions',
       'growth_%', 'industry', 'workers', 'previous_workers', 'founded',
       'yrs_on_list', 'metro', 'city'],
      dtype='object')

# **1. What's the average revenue among companies on the list?**

In [20]:
avg_revenue["revenue in Millions"].describe()

count     5012.000000
mean        47.470830
std        391.334265
min          2.000000
25%          4.800000
50%         10.400000
75%         27.000000
max      21400.000000
Name: revenue in Millions, dtype: float64

## Average revenue among the companies on the list is 47.47 Millions.

# **1. What's the average revenue among companies on the list Broken down by industry?**

 to determine the average revenue generated by companies we have to group the companies and then measure its average/mean

In [21]:
# grouping wrt industry and measuring its average/mean
revenue_among_companies = avg_revenue.groupby(by= "industry").mean()

In [22]:
# only withdrawing the fields which is required for our analysis.
industries = revenue_among_companies["revenue in Millions"].round(2).sort_values(ascending= False)

In [23]:
industries

industry
Security                        123.75
Health                          109.33
Logistics & Transportation      101.29
Energy                           80.22
Human Resources                  73.58
Consumer Products & Services     72.07
Retail                           66.55
Government Services              59.39
Insurance                        58.74
Construction                     58.42
Telecommunications               41.83
Financial Services               40.00
Food & Beverage                  39.86
Real Estate                      34.06
Manufacturing                    33.30
Engineering                      32.95
Computer Hardware                31.18
Business Products & Services     28.60
Travel & Hospitality             26.74
IT Management                    22.58
Environmental Services           22.51
Software                         21.57
IT System Development            21.09
Education                        20.84
IT Services                      19.13
Advertising & Marketing          18.91
Media                            16.71
Name: revenue in Millions, dtype: float64

# **2.Which industries are most and least represented in the list?**

In [24]:
industries

industry
Security                        123.75
Health                          109.33
Logistics & Transportation      101.29
Energy                           80.22
Human Resources                  73.58
Consumer Products & Services     72.07
Retail                           66.55
Government Services              59.39
Insurance                        58.74
Construction                     58.42
Telecommunications               41.83
Financial Services               40.00
Food & Beverage                  39.86
Real Estate                      34.06
Manufacturing                    33.30
Engineering                      32.95
Computer Hardware                31.18
Business Products & Services     28.60
Travel & Hospitality             26.74
IT Management                    22.58
Environmental Services           22.51
Software                         21.57
IT System Development            21.09
Education                        20.84
IT Services                      19.13
Advertising & Marketing          18.91
Media                            16.71
Name: revenue in Millions, dtype: float64

### 1. Most represented industry is "Security" with revenue generated around 125 Million  
### 2. Least represented industry is "Media" with revenue generated around 16.7 Million

# **3. Do you notice any interesting geographic trends?**

* ##  Divide the whole data of states into zones and then find out the trends

In [25]:
avg_revenue.head(2)

,rank,profile,name,url,state,revenue in Millions,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city
0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9,36680.3882,Advertising & Marketing,40.0,5,2015,1,Phoenix,Phoenix
1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6,30547.9317,Logistics & Transportation,39.0,8,2015,1,Nashville,Brentwood

In [26]:
import plotly.express as px                                             # importing plotpy liebrary
state_counts = avg_revenue["state"].value_counts().reset_index()        # checking value count of the statesrepresenting no. of companies as well.
state_counts.columns = ["state" , "count"]                              # renaming the fields

fig = px.choropleth(state_counts, locationmode = "USA-states", locations = "state" , color = "count",
                   scope = "usa" , title = "Number of Companies by State")              # using choropleth plot for map plot
fig.show()

## With the above fig. we can observe that the highest number of companies in Inc 5000, are in the state of California (CA).California lies in West Region.

In [27]:
states = avg_revenue.groupby(by = "state").mean().reset_index().round(2)
states

,state,rank,revenue in Millions,growth_%,workers,previous_workers,founded,yrs_on_list
0,AL,2385.28,37.11,377.78,256.03,130.72,2005.45,3.22
1,AR,2191.90,11.38,246.40,92.10,32.60,2008.20,2.00
2,AZ,2538.46,23.14,702.49,144.26,49.59,2006.21,2.69
3,CA,2390.91,53.14,490.90,549.96,233.00,2007.17,2.76
4,CO,2460.54,29.25,434.65,153.78,71.16,2006.78,2.60
5,CT,2677.57,46.80,293.72,132.73,37.62,2007.41,2.86
6,DC,2376.65,19.00,376.16,94.53,31.14,2007.86,2.86
7,DE,2238.27,30.96,250.95,200.27,97.27,2002.55,3.00
8,FL,2379.25,51.41,472.75,200.92,95.16,2007.04,2.45
9,GA,2499.95,42.36,438.37,176.04,89.14,2006.07,3.14
10,HI,2321.75,13.00,173.53,21.25,6.00,2009.50,2.75
11,IA,2821.55,19.86,215.69,334.52,130.74,1999.77,3.35
12,ID,1414.90,24.88,1335.74,45.71,19.62,2010.62,2.38
13,IL,2637.61,42.98,350.06,234.21,130.51,2005.39,2.82
14,IN,2646.81,34.47,299.71,147.21,84.46,2002.67,2.83
15,KS,2953.22,44.23,416.27,630.41,322.85,2000.89,3.52
16,KY,2845.82,74.59,537.79,302.06,168.50,2005.53,3.50
17,LA,2498.57,20.01,310.78,73.76,35.54,2006.46,2.43
18,MA,2701.65,38.96,284.14,183.19,95.99,2002.67,3.05
19,MD,2257.48,27.71,553.96,575.88,220.78,2005.88,2.65
20,ME,1819.82,14.17,686.62,125.45,38.73,2009.45,2.55
21,MI,2750.60,37.54,517.23,106.84,63.54,2003.83,3.01
22,MN,2845.05,285.63,322.49,154.77,104.59,2005.60,3.17
23,MO,2599.55,33.76,319.41,121.44,52.96,2005.16,2.85
24,MS,2955.75,6.07,143.74,34.50,17.50,2009.50,2.00
25,MT,2613.64,6.42,830.76,40.09,14.27,2006.82,2.45
26,NC,2347.16,56.65,419.88,206.46,109.70,2005.96,2.74
27,ND,1814.40,15.05,655.67,51.60,21.10,2009.00,2.70
28,NE,2728.41,50.99,290.53,157.44,67.52,2004.30,3.37
29,NH,2645.40,22.78,292.09,57.50,28.85,2007.45,2.20
30,NJ,2605.91,50.70,447.13,244.30,133.19,2004.82,2.59
31,NM,2345.71,28.77,3259.42,162.00,74.57,2006.29,2.14
32,NV,2295.15,20.10,338.12,142.70,73.27,2004.30,2.39
33,NY,2262.01,27.69,600.11,152.02,68.93,2001.13,2.47
34,OH,2769.24,79.51,358.71,211.88,110.88,2002.98,3.24
35,OK,2649.71,24.96,219.16,122.82,59.07,2001.25,2.89
36,OR,2665.44,58.68,229.44,143.53,68.95,2004.25,3.05
37,PA,2855.50,64.03,401.73,184.07,104.01,2003.73,3.37
38,PR,422.50,5.35,1109.55,18.50,7.00,2015.00,1.00
39,RI,3724.00,6.62,95.28,38.60,20.80,2002.20,4.00
40,SC,2387.50,26.00,311.49,101.71,47.61,2006.66,2.91
41,SD,2724.07,54.01,192.12,71.00,38.21,2004.93,2.64
42,TN,2728.38,40.94,734.20,247.25,122.10,2006.60,2.98
43,TX,2516.45,42.89,433.90,170.07,83.12,2006.21,2.66
44,UT,2306.77,55.20,449.36,327.89,99.37,2006.62,2.50
45,VA,2513.44,44.03,472.69,138.29,61.57,2005.58,3.19
46,VT,3016.80,6.48,139.86,46.00,21.60,2004.20,2.00
47,WA,2351.39,27.86,531.75,163.50,75.85,2005.87,2.89
48,WI,2859.84,25.72,456.11,86.10,45.04,1998.04,2.90
49,WV,2010.43,24.91,223.13,96.14,52.00,2007.14,3.29
50,WY,1700.67,6.67,594.02,33.33,8.33,2012.50,1.50

In [28]:
state_revenue = states[["state" , "revenue in Millions"]]        # checking value count of the statesrepresenting no. of companies as well.
state_revenue.columns = ["state" , "revenue in Millions"]                              # renaming the fields

fig = px.choropleth(state_revenue, locationmode = "USA-states", locations = "state" , color ="revenue in Millions",
                    scope = "usa" , title = "Revenue Generated in differrent State")              # using choropleth plot for map plot
fig.show()

## With the above fig, we can observe that the highest revenue generated by companies are situated in Minnesota (MN) with revenue generate around 285 millions.

In [29]:
lst = [avg_revenue.state.unique()]
lst

[array(['AZ', 'TN', 'TX', 'NM', 'PA', 'FL', 'NJ', 'VA', 'OH', 'CA', 'CO',
        'WA', 'NY', 'GA', 'KY', 'ID', 'UT', 'MT', 'NC', 'WI', 'MI', 'MD',
        'MN', 'AL', 'MA', 'ME', 'KS', 'IL', 'CT', 'NV', 'ND', 'NH', 'MO',
        'IN', 'DC', 'NE', 'WY', 'SC', 'LA', 'PR', 'OR', 'IA', 'OK', 'AR',
        'DE', 'SD', 'WV', 'MS', 'VT', 'HI', 'RI'], dtype=object)]

In [30]:
west = ["CA","CO", "HI", "ID", "MT", "NV", "OR", "UT", "WA", "WY"]
midwest = ['OH','WI', 'MI','MN','KS', 'IL','ND','MO','IN','NE', 'IA','SD']
northeast =["CT", 'DC', 'DE', 'MA','MD','ME','NH','NJ','NY','PA','RI','VT']
southeast = ['AL','AR','FL', 'GA', 'KY', 'LA', 'MS', 'NC', 'PR','SC','TN', 'VA', 'WV']
southwest = ['AZ', 'NM', 'OK', 'TX']

In [31]:
def categorise(row):  
    if row['state'] in west :
        return 'west'
    elif row['state'] in midwest :
        return 'midwest'
    elif row['state'] in northeast :
        return 'northeast'
    elif row['state'] in southeast :
        return 'southeast'
    elif row['state'] in southwest :
        return 'southwest'
    
    
avg_revenue['zone'] = avg_revenue.apply(lambda row: categorise(row), axis=1)
avg_revenue

,rank,profile,name,url,state,revenue in Millions,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city,zone
0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9,36680.3882,Advertising & Marketing,40.0,5,2015,1,Phoenix,Phoenix,southwest
1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6,30547.9317,Logistics & Transportation,39.0,8,2015,1,Nashville,Brentwood,southeast
2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9,23880.4852,Food & Beverage,190.0,10,2015,1,Austin,Austin,southwest
3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4,21849.8925,Consumer Products & Services,57.0,2,2014,1,NaN,Albuquerque,southwest
4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5,18166.4070,Retail,25.0,6,2014,1,Philadelphia,Philadelphia,northeast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5007,4996,https://www.inc.com/profile/village-plumbing-air,Village Plumbing & Air,villageplumbing.com,TX,15.8,52.2377,Consumer Products & Services,88.0,62,1946,3,Houston,Houston,southwest
5008,4997,https://www.inc.com/profile/real-restoration-g...,Real Restoration Group,realrestoration.com,IL,11.6,52.2127,Construction,380.0,220,2011,1,Chicago,Chicago,midwest
5009,4998,https://www.inc.com/profile/naval-systems,Naval Systems,n-s-i.us,MD,29.7,52.2037,Government Services,187.0,127,2004,1,NaN,LEXINGTON PARK,northeast
5010,4999,https://www.inc.com/profile/hnm-systems,HNM Systems,hnmsystems.com,CA,8.8,52.1919,Telecommunications,132.0,47,2011,1,San Diego,Solana Beach,west
5011,5000,https://www.inc.com/profile/vivayic,Vivayic,vivayic.com,NE,4.5,52.1691,Business Products & Services,27.0,22,2006,4,NaN,Lincoln,midwest

In [32]:
zonewise = avg_revenue.copy()

In [33]:
company_counts = zonewise.groupby(by = 'zone').size()
company_counts

zone
midwest       860
northeast     995
southeast    1325
southwest     606
west         1226
dtype: int64

## Around 1325 companies are in southeast region/zone which is the highest among all the regions/zones.

In [34]:
zonewise_total_revenue = zonewise.groupby(by = 'zone').sum()
zonewise_total_revenue[["revenue in Millions"]]

           revenue in Millions
zone
midwest                59351.0
northeast              38160.3
southeast              60267.7
southwest              23335.4
west                   56809.4

## Companies in southeast region generates highest total revenue among all the region which is around 60267.7 Millions, followed by midwest region and then west region by generating around 59351 and 56809.4 Millions respectively.

# **4. Which industries saw the largest average growth rate?**

In [35]:
growth_rate = avg_revenue.groupby(by = "industry").mean().reset_index()          # grouping wrt industry and measuring its average/mean
max_growth_rate = growth_rate[["industry" , "growth_%"]].round(2)
max_growth_rate

                        industry  growth_%
0        Advertising & Marketing    486.69
1   Business Products & Services    313.47
2              Computer Hardware    651.98
3                   Construction    358.09
4   Consumer Products & Services    685.64
5                      Education    384.56
6                         Energy    592.08
7                    Engineering    222.76
8         Environmental Services    458.55
9             Financial Services    423.94
10               Food & Beverage    668.23
11           Government Services    485.31
12                        Health    546.91
13               Human Resources    288.71
14                 IT Management    275.36
15                   IT Services     70.58
16         IT System Development    385.91
17                     Insurance    306.15
18    Logistics & Transportation    717.56
19                 Manufacturing    333.70
20                         Media    413.73
21                   Real Estate    417.55
22                        Retail    584.82
23                      Security    490.19
24                      Software    524.67
25            Telecommunications    515.41
26          Travel & Hospitality    346.42

In [36]:
max_growth_rate.iloc[0]

industry    Advertising & Marketing
growth_%                     486.69
Name: 0, dtype: object

## Advertising & Marketing saw the largest average growth rate of around 486.69%.

# **5. Which companies had the largest increase in staff/new hires?**

* ## Top 5 and Bottom 5 - Companies

In [37]:
staff_hire = avg_revenue.copy()

In [38]:
staff_hire.head()

,rank,profile,name,url,state,revenue in Millions,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city,zone
0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9,36680.3882,Advertising & Marketing,40.0,5,2015,1,Phoenix,Phoenix,southwest
1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6,30547.9317,Logistics & Transportation,39.0,8,2015,1,Nashville,Brentwood,southeast
2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9,23880.4852,Food & Beverage,190.0,10,2015,1,Austin,Austin,southwest
3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4,21849.8925,Consumer Products & Services,57.0,2,2014,1,NaN,Albuquerque,southwest
4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5,18166.4070,Retail,25.0,6,2014,1,Philadelphia,Philadelphia,northeast

In [39]:
staff_hire.columns

Index(['rank', 'profile', 'name', 'url', 'state', 'revenue in Millions',
       'growth_%', 'industry', 'workers', 'previous_workers', 'founded',
       'yrs_on_list', 'metro', 'city', 'zone'],
      dtype='object')

In [40]:
staff_hire["no. of hired employee"] = staff_hire["workers"] - staff_hire["previous_workers"]    # subtracting field previous workers from workers field 
                                                                                                # and assigning values in the new column

In [41]:
staff_hiring_companies = staff_hire.copy()

In [42]:
# Creating new dataset which contains all the positive values in the field of "no. of hired employee" it represent the no. of employee hired by the company.
staff_hiring_companies = staff_hiring_companies[staff_hiring_companies["no. of hired employee"]>0]

In [43]:
#sorting values on the basis of no. of employee hired.
staff_hiring_companies = staff_hiring_companies.sort_values(by = "no. of hired employee", ascending = False )
staff_hiring_companies

,rank,profile,name,url,state,revenue in Millions,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city,zone,no. of hired employee
1621,1617,https://www.inc.com/profile/allied-universal,Allied Universal,http://aus.com,CA,5800.0,255.1902,Security,155000.0,36469,1957,10,Los Angeles,Santa Ana,west,118531.0
3752,3743,https://www.inc.com/profile/alorica,Alorica,alorica.com,CA,2.2,90.9001,Business Products & Services,96000.0,53000,1999,2,Los Angeles,Irvine,west,43000.0
3403,3394,https://www.inc.com/profile/infiniti-hr,Infiniti HR,http://infinitihr.com,MD,458.0,104.7641,Human Resources,58145.0,21000,2008,7,"Washington, DC",Burtonsville,northeast,37145.0
1336,1333,https://www.inc.com/profile/circustrix,CircusTrix,circustrix.com,UT,194.1,309.4015,Advertising & Marketing,14730.0,991,2011,3,"Provo-Orem, UT",Provo,west,13739.0
3172,3164,https://www.inc.com/profile/scribeamerica,ScribeAmerica,scribeamerica.com,FL,305.1,115.8777,Health,20599.0,8958,2005,9,Miami,Fort Lauderdale,southeast,11641.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,411,https://www.inc.com/profile/pitisci-associates,Pitisci & Associates,tampastaff.com,FL,8.8,1110.7164,IT Management,7.0,6,2014,1,Tampa,Tampa,southeast,1.0
1348,1344,https://www.inc.com/profile/suite-experience-g...,Suite Experience Group,suiteexperiencegroup.com,CA,10.6,307.4624,Travel & Hospitality,4.0,3,2010,2,San Francisco,San Mateo,west,1.0
397,397,https://www.inc.com/profile/double-wood,Double Wood,doublewoodsupplements.com,PA,6.9,1147.2142,Health,3.0,2,2013,1,Philadelphia,Philadelphia,northeast,1.0
811,811,https://www.inc.com/profile/grillaholics,Grillaholics,grillaholics.com,MO,2.7,527.2026,Retail,3.0,2,2014,1,"St. Louis, MO-IL",New Melle,midwest,1.0
4646,4635,https://www.inc.com/profile/julianna-rae,Julianna Rae,juliannarae.com,MA,2.1,61.9375,Retail,5.0,4,2004,1,Boston,Burlington,northeast,1.0

## **Top 5 companies with the largest increase in staff/new hires**

In [44]:
Top_5_companies = staff_hiring_companies[["name" , "no. of hired employee"]].head()
Top_5_companies

                  name  no. of hired employee
1621  Allied Universal               118531.0
3752           Alorica                43000.0
3403       Infiniti HR                37145.0
1336        CircusTrix                13739.0
3172     ScribeAmerica                11641.0

## **Bottom 5 companies with the lowest increase in staff/new hires**

In [45]:
Bottom_5_companies = staff_hiring_companies[["name" , "no. of hired employee"]].tail()
Bottom_5_companies

                        name  no. of hired employee
411     Pitisci & Associates                    1.0
1348  Suite Experience Group                    1.0
397              Double Wood                    1.0
811             Grillaholics                    1.0
4646            Julianna Rae                    1.0

# **6. Did any companies increase revenue while reducing staff?**

In [46]:
companies_reducing_staff = staff_hire.copy()

In [47]:
# Creating new dataset which contains all the negative values in the field of "no. of hired employee" it represent the no. of employee laid off by the company.
companies_reducing_staff = companies_reducing_staff[companies_reducing_staff["no. of hired employee"]<0]
companies_reducing_staff

,rank,profile,name,url,state,revenue in Millions,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city,zone,no. of hired employee
245,245,https://www.inc.com/profile/tier4-group,Tier4 Group,http://tier4group.com,GA,4.6,1729.3981,Business Products & Services,0.0,3,2010,1,Atlanta,Atlanta,southeast,-3.0
361,361,https://www.inc.com/profile/adficient,AdFicient,adficient.com,MO,5.9,1264.9067,Advertising & Marketing,3.0,4,2009,1,"St. Louis, MO-IL",Saint Louis,midwest,-1.0
475,475,https://www.inc.com/profile/powerful-professio...,Powerful Professionals,http://powerfulprofessionals.com,GA,2.0,935.0348,Business Products & Services,5.0,13,2001,1,Atlanta,Alpharetta,southeast,-8.0
525,525,https://www.inc.com/profile/quantico-tactical,Quantico Tactical,quanticotactical.com,NC,492.5,831.3181,Government Services,37.0,80,2001,2,NaN,Aberdeen,southeast,-43.0
534,534,https://www.inc.com/profile/peaxy,Peaxy,peaxy.net,CA,2.9,817.2645,Software,20.0,46,2012,2,San Jose,San Jose,west,-26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4867,4856,https://www.inc.com/profile/openarc,OpenArc,openarc.net,PA,15.0,56.7225,IT Management,90.0,95,2010,5,"Pittsburgh, PA",Wexford,northeast,-5.0
4942,4931,https://www.inc.com/profile/green-mountain-tec...,Green Mountain Technology,greenmountaintechnology.com,TN,21.6,54.2047,Logistics & Transportation,0.0,48,1999,3,NaN,Memphis,southeast,-48.0
4979,4968,https://www.inc.com/profile/atlas-oil-company,Atlas Oil Company,atlasoil.com,MI,1100.0,53.0161,Energy,538.0,611,1985,6,Detroit,Taylor,midwest,-73.0
5001,4990,https://www.inc.com/profile/smart-energy-today,Smart Energy Today,smartenergytoday.net,WA,20.5,52.5381,Energy,65.0,92,2012,6,NaN,Tumwater,west,-27.0
5002,4991,https://www.inc.com/profile/Distillery,Distillery,http://distillery.com,CA,6.1,52.5232,Software,11.0,13,2012,3,Los Angeles,Santa Monica,west,-2.0

In [48]:
#sorting values on the basis of no. of employee hired.
companies_reducing_staff = companies_reducing_staff.sort_values(by = "no. of hired employee", ascending = True)
companies_reducing_staff

,rank,profile,name,url,state,revenue in Millions,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city,zone,no. of hired employee
4567,4556,https://www.inc.com/profile/ids-international-...,IDS International Government Services,idsinternational.com,VA,44.7,64.0436,Government Services,0.0,682,2006,3,"Washington, DC",Arlington,southeast,-682.0
1076,1073,https://www.inc.com/profile/prime-therapeutics,Prime Therapeutics,http://primetherapeutics.com,MN,21400.0,390.5654,Health,3300.0,3900,1998,8,Minneapolis,Eagan,midwest,-600.0
4409,4398,https://www.inc.com/profile/akorbi,Akorbi,akorbi.com,TX,39.3,68.1185,Business Products & Services,350.0,650,2003,4,Dallas,Plano,southwest,-300.0
4136,4127,https://www.inc.com/profile/first-american-pay...,First American Payment Systems,first-american.net,TX,783.9,77.1276,Financial Services,1001.0,1244,1990,2,Dallas,Fort Worth,southwest,-243.0
4270,4260,https://www.inc.com/profile/integrity-services,Integrity Services,integrityservicecompanies.com,MA,19.3,72.2406,Business Products & Services,100.0,250,2008,6,Boston,Wakefield,northeast,-150.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2966,2958,https://www.inc.com/profile/alpha-premier,Alpha Premier,alpharoofingtexas.com,TX,2.6,126.3750,Construction,4.0,5,2014,1,Austin,Round Rock,southwest,-1.0
3194,3186,https://www.inc.com/profile/rabbit-air,Rabbit Air,rabbitair.com,CA,18.4,114.9680,Consumer Products & Services,19.0,20,2004,7,Los Angeles,Pasadena,west,-1.0
3799,3790,https://www.inc.com/profile/cuddle-clones,Cuddle Clones,cuddleclones.com,KY,3.5,88.4597,Consumer Products & Services,50.0,51,2011,2,"Louisville/Jefferson County, KY-IN",Louisville,southeast,-1.0
4657,4646,https://www.inc.com/profile/klemchuk-llp,Klemchuk,http://klemchuk.com,TX,4.5,61.6037,Business Products & Services,17.0,18,2009,1,Dallas,Dallas,southwest,-1.0
4258,4248,https://www.inc.com/profile/sbs-cybersecurity,SBS CyberSecurity,sbscyber.com,SD,10.1,72.5545,Financial Services,71.0,72,2004,7,NaN,Madison,midwest,-1.0

In [49]:
companies_reducing_staff.head(10)

,rank,profile,name,url,state,revenue in Millions,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city,zone,no. of hired employee
4567,4556,https://www.inc.com/profile/ids-international-...,IDS International Government Services,idsinternational.com,VA,44.7,64.0436,Government Services,0.0,682,2006,3,"Washington, DC",Arlington,southeast,-682.0
1076,1073,https://www.inc.com/profile/prime-therapeutics,Prime Therapeutics,http://primetherapeutics.com,MN,21400.0,390.5654,Health,3300.0,3900,1998,8,Minneapolis,Eagan,midwest,-600.0
4409,4398,https://www.inc.com/profile/akorbi,Akorbi,akorbi.com,TX,39.3,68.1185,Business Products & Services,350.0,650,2003,4,Dallas,Plano,southwest,-300.0
4136,4127,https://www.inc.com/profile/first-american-pay...,First American Payment Systems,first-american.net,TX,783.9,77.1276,Financial Services,1001.0,1244,1990,2,Dallas,Fort Worth,southwest,-243.0
4270,4260,https://www.inc.com/profile/integrity-services,Integrity Services,integrityservicecompanies.com,MA,19.3,72.2406,Business Products & Services,100.0,250,2008,6,Boston,Wakefield,northeast,-150.0
4153,4144,https://www.inc.com/profile/centrify,Centrify,centrify.com,CA,114.6,76.4500,Software,211.0,338,2004,6,San Jose,Santa Clara,west,-127.0
3627,3618,https://www.inc.com/profile/zefr,Zefr,zefr.com,CA,91.8,96.5302,Advertising & Marketing,227.0,313,2008,1,Los Angeles,Los Angeles,west,-86.0
4583,4572,https://www.inc.com/profile/ctems,Ctems,http://ctems-inc.com,CA,15.2,63.6505,Manufacturing,70.0,150,2011,4,San Jose,Milpitas,west,-80.0
4979,4968,https://www.inc.com/profile/atlas-oil-company,Atlas Oil Company,atlasoil.com,MI,1100.0,53.0161,Energy,538.0,611,1985,6,Detroit,Taylor,midwest,-73.0
2715,2707,https://www.inc.com/profile/ncwc,NCWC,ncwcinc.com,NJ,195.8,142.2609,Advertising & Marketing,54.0,125,1993,6,New York City,Ocean,northeast,-71.0

In [50]:
# using the required fields only
top_10_companies_reducing_staff = companies_reducing_staff[["name","no. of hired employee", "growth_%"]].head(10)
top_10_companies_reducing_staff

                                       name  no. of hired employee  growth_%
4567  IDS International Government Services                 -682.0   64.0436
1076                     Prime Therapeutics                 -600.0  390.5654
4409                                 Akorbi                 -300.0   68.1185
4136         First American Payment Systems                 -243.0   77.1276
4270                     Integrity Services                 -150.0   72.2406
4153                               Centrify                 -127.0   76.4500
3627                                   Zefr                  -86.0   96.5302
4583                                  Ctems                  -80.0   63.6505
4979                      Atlas Oil Company                  -73.0   53.0161
2715                                   NCWC                  -71.0  142.2609

## Top 10 companies which manages to improve growth % even after reducing the working staff.
1. IDS International Government Services
2. Prime Therapeutics
3. Akorbi
4. First American Payment Systems
5. Integrity Services
6. Centrify
7. Zefr
8. Ctems
9. Atlas Oil Company
10. NCWC

# **7. Top 1000 - Winner State**

In [51]:
top_1000 = avg_revenue.copy()

In [52]:
top_1000 = top_1000[top_1000["rank"]<=1000]                          # creating new dataset for top 1000 ranked companies
top_1000

,rank,profile,name,url,state,revenue in Millions,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city,zone
0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9,36680.3882,Advertising & Marketing,40.0,5,2015,1,Phoenix,Phoenix,southwest
1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6,30547.9317,Logistics & Transportation,39.0,8,2015,1,Nashville,Brentwood,southeast
2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9,23880.4852,Food & Beverage,190.0,10,2015,1,Austin,Austin,southwest
3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4,21849.8925,Consumer Products & Services,57.0,2,2014,1,NaN,Albuquerque,southwest
4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5,18166.4070,Retail,25.0,6,2014,1,Philadelphia,Philadelphia,northeast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,996,https://www.inc.com/profile/farmgirl-flowers,Farmgirl Flowers,farmgirlflowers.com,CA,23.4,424.8674,Retail,106.0,41,2010,2,San Francisco,San Francisco,west
998,997,https://www.inc.com/profile/bombora,Bombora,bombora.com,NY,26.4,424.7169,Advertising & Marketing,95.0,19,2014,1,New York City,New York,northeast
999,998,https://www.inc.com/profile/frugal-flippers,Frugal Flippers,householdtrends.com,NY,5.6,424.6089,Retail,5.0,1,2015,1,NaN,Jordan,northeast
1000,999,https://www.inc.com/profile/sumo-communications,SUMO Communications,sumocom.com,UT,5.1,424.4421,Telecommunications,12.0,2,2002,2,"Ogden-Clearfield, UT",Centerville,west
1001,1000,https://www.inc.com/profile/home-view-technolo...,Home View Technologies,liveviewtech.com,UT,16.5,424.0165,Security,110.0,30,2005,1,"Provo-Orem, UT",Orem,west

In [53]:
#State wise company count in top 1000 companies.
winner_state = top_1000.groupby(by = "state").size().sort_values(ascending = False)

In [54]:
winner_state

state
CA    170
TX     82
NY     79
FL     78
VA     62
GA     44
IL     43
MD     36
CO     34
PA     28
UT     28
NC     26
WA     23
NJ     22
OH     21
MI     19
AZ     18
MA     16
TN     15
IN     13
MO     13
SC     12
ID     11
AL     11
MN     11
DC     10
LA      9
WI      8
NE      6
NV      6
OR      6
CT      6
KY      5
KS      5
ME      4
ND      3
IA      3
MT      2
PR      2
OK      2
NH      2
AR      2
DE      2
WY      2
SD      1
NM      1
dtype: int64

## Winner state which has highest no. of companies in top 1000 ranked companies is California (CA).

# **8.Do we have any company which was founded last year and Ranked under Top 100**

In [55]:
company_ranked_within_top_100 = avg_revenue.copy()

In [56]:
# creating a dataset which has top 100 ranked companies
company_ranked_within_top_100 = company_ranked_within_top_100[company_ranked_within_top_100["rank"]<=100]
company_ranked_within_top_100

,rank,profile,name,url,state,revenue in Millions,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city,zone
0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9,36680.3882,Advertising & Marketing,40.0,5,2015,1,Phoenix,Phoenix,southwest
1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6,30547.9317,Logistics & Transportation,39.0,8,2015,1,Nashville,Brentwood,southeast
2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9,23880.4852,Food & Beverage,190.0,10,2015,1,Austin,Austin,southwest
3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4,21849.8925,Consumer Products & Services,57.0,2,2014,1,NaN,Albuquerque,southwest
4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5,18166.4070,Retail,25.0,6,2014,1,Philadelphia,Philadelphia,northeast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,https://www.inc.com/profile/amenity-health,Amenity Health,amenityhealth.com,CA,15.3,3357.7038,Health,16.0,8,2011,1,San Diego,San Diego,west
97,97,https://www.inc.com/profile/payability,Payability,http://payability.com,NY,13.7,3350.0091,Financial Services,54.0,10,2014,1,New York City,New York,northeast
98,98,https://www.inc.com/profile/eagle-transport-an...,Eagle Transport and Logistics,theeagletransport.com,OH,4.8,3339.6237,Logistics & Transportation,35.0,1,2014,1,"Columbus, OH",Columbus,midwest
99,99,https://www.inc.com/profile/shipbob,ShipBob,shipbob.com,IL,34.2,3325.7138,Logistics & Transportation,450.0,25,2014,1,Chicago,Chicago,midwest
100,100,https://www.inc.com/profile/powerhome-solar,Powerhome Solar,http://powerhome.com,NC,102.9,3307.1657,Construction,585.0,15,2015,2,NaN,Mooresville,southeast

In [57]:
# creating a dataset which has companies founded within 1 year i.e in 2015 and 2016
company_ranked_within_top_100 = company_ranked_within_top_100[company_ranked_within_top_100["founded"] >= 2015 ]

In [58]:
company_ranked_within_top_100

,rank,profile,name,url,state,revenue in Millions,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city,zone
0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9,36680.3882,Advertising & Marketing,40.0,5,2015,1,Phoenix,Phoenix,southwest
1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6,30547.9317,Logistics & Transportation,39.0,8,2015,1,Nashville,Brentwood,southeast
2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9,23880.4852,Food & Beverage,190.0,10,2015,1,Austin,Austin,southwest
7,8,https://www.inc.com/profile/connected-solution...,Connected Solutions Group,http://csgstore.net,VA,23.3,12700.6588,Telecommunications,72.0,1,2015,1,"Richmond, VA",Mechanicsville,southeast
13,14,https://www.inc.com/profile/yieldstreet,YieldStreet,http://yieldstreet.com,NY,19.1,10561.7147,Financial Services,66.0,10,2015,1,New York City,New York,northeast
15,16,https://www.inc.com/profile/anchor-worldwide,Anchor Worldwide,anchorww.com,NY,10.7,9753.2010,Advertising & Marketing,110.0,3,2015,1,New York City,New York,northeast
19,20,https://www.inc.com/profile/kindred-bravely,Kindred Bravely,http://kindredbravely.com,CA,9.6,8543.9808,Consumer Products & Services,35.0,2,2015,1,San Diego,Oceanside,west
20,21,https://www.inc.com/profile/tailor-made-compou...,Tailor Made Compounding,http://tailormadecompounding.com,KY,10.2,8327.0956,Health,45.0,1,2015,1,NaN,Nicholasville,southeast
23,24,https://www.inc.com/profile/printify,Printify,http://printify.com,CA,10.5,7926.4244,Software,70.0,5,2015,1,San Francisco,San Francisco,west
24,25,https://www.inc.com/profile/awardco,Awardco,http://award.co,UT,8.9,7478.1478,Software,42.0,2,2015,1,"Provo-Orem, UT",Orem,west
25,26,https://www.inc.com/profile/pegasus-optimizati...,Pegasus Optimization Managers,pegasus15.com,TX,128.2,7426.8072,Energy,191.0,14,2015,1,NaN,College Station,southwest
29,30,https://www.inc.com/profile/bendcare,Bendcare,bendcare.com,FL,156.0,6900.2519,Health,37.0,6,2015,1,Miami,Boca Raton,southeast
54,55,https://www.inc.com/profile/dropified,Dropified,dropified.com,AL,5.1,4971.4549,Business Products & Services,30.0,2,2015,1,"Birmingham, AL",Birmingham,southeast
57,58,https://www.inc.com/profile/ashh-dba-ooze-whol...,Ooze Wholesale,http://oozewholesale.com,MI,25.9,4899.0269,Consumer Products & Services,30.0,6,2015,1,Detroit,Oak Park,midwest
65,66,https://www.inc.com/profile/citylift-parking,CityLift Parking,cityliftparking.com,CA,10.7,4401.8691,Construction,40.0,5,2015,1,San Francisco,Oakland,west
71,72,https://www.inc.com/profile/sky-marketing-corp...,Sky Marketing Corporation,smcdistribution.com,TX,4.7,4279.7746,Consumer Products & Services,30.0,3,2015,1,Austin,Austin,southwest
76,77,https://www.inc.com/profile/patton-warehousing,Patton Warehousing,pattonwarehousing.com,PA,8.2,4138.1126,Logistics & Transportation,78.0,11,2015,1,NaN,Milton,northeast
79,80,https://www.inc.com/profile/wandrd,Wandrd,http://wandrd.com,UT,4.7,4088.0160,Consumer Products & Services,12.0,2,2015,1,"Provo-Orem, UT",Orem,west
81,82,https://www.inc.com/profile/dynamic-logistix,Dynamic Logistix,dynamiclogistix.com,KS,54.4,3839.8420,Logistics & Transportation,50.0,4,2015,1,"Kansas City, MO-KS",Overland Park,midwest
85,85,https://www.inc.com/profile/loanatik,Loanatik,loanatik.com,AZ,9.0,3692.3510,Financial Services,19.0,3,2015,1,Phoenix,Phoenix,southwest
86,86,https://www.inc.com/profile/supportninja,SupportNinja,http://supportninja.com,TX,4.5,3683.6824,Business Products & Services,463.0,22,2015,1,Austin,Austin,southwest
88,88,https://www.inc.com/profile/cisoshare,Cisoshare,http://cisoshare.com,CA,3.9,3623.0563,Security,25.0,3,2015,1,Los Angeles,San Juan Capistrano,west
89,89,https://www.inc.com/profile/digitalonus,DigitalOnUS,digitalonus.com,CA,10.4,3534.7663,IT System Development,178.0,11,2015,2,San Jose,San Jose,west
100,100,https://www.inc.com/profile/powerhome-solar,Powerhome Solar,http://powerhome.com,NC,102.9,3307.1657,Construction,585.0,15,2015,2,NaN,Mooresville,southeast

## Yes, There are 24 companies which was founded last year and yet manage to secure its postion in top 100 ranked companies.